[submodule "External/Quick"]
	path = External/Quick
	url = https://github.com/Quick/Quick.git
[submodule "External/LlamaKit"]
	path = External/LlamaKit
	url = https://github.com/LlamaKit/LlamaKit
[submodule "External/Cartography"]
	path = External/Cartography
	url = https://github.com/robb/Cartography
[submodule "External/ReactiveCocoa"]
	path = External/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
